<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834710142190-ko46nd86uf5mlqh4tf02ajth19njsn10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834710142190-ko46nd86uf5mlqh4tf02ajth19njsn10</string>
	<key>API_KEY</key>
	<string>AIzaSyBDjGdIPACxSA4wgZoCcZUreAuaat5FhRI</string>
	<key>GCM_SENDER_ID</key>
	<string>834710142190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busApp</string>
	<key>PROJECT_ID</key>
	<string>bus-app-a3fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-app-a3fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834710142190:ios:eb1cea9d03c8a456e847ff</string>
</dict>
</plist>